
  <header class="toolbar toolbar-header">
  <div class="toolbar-actions">
    <input type="text" style="width:100%" [(ngModel)]='newVideoUrl' placeholder="Paste video URL" />
  </div>
  <div class="toolbar-actions pull-right">
    <button class="btn btn-default">
      <span class="icon icon-list-add"></span>
      &nbsp;Paste
    </button>
     <button class="btn btn-primary pull-right" (click)='addVideo()'>
      Download
    </button>
  </div>
</header>

<mat-list>
  <mat-list-item *ngFor="let vid of videos">
    <img matListAvatar src="{{vid.thumbnail.url}}" *ngIf='vid.thumbnail' />
    <img matListAvatar *ngIf='!vid.thumbnail' />
    <p matLine>
      <strong>{{ vid.title }}</strong>&nbsp;<small *ngIf='vid.duration' style='color: #607d8b;'>{{ vid.duration | timeFormat }}</small> 
    </p>
    <div matLine style="max-width: 50%;min-width: 200px;">
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </div>
    <span style="pull-right">
      <mat-icon style='color: #737373;' *ngIf='!vid.done'>file_download</mat-icon>
      <mat-icon style='color: #737373;' *ngIf='vid.done'>folder</mat-icon>
    </span>
  </mat-list-item>
</mat-list>
<!--
<footer class="toolbar toolbar-footer">
  <div class="toolbar-actions">

    <button class="btn btn-primary pull-right">
      Download
    </button>
  </div>
</footer>
-->