mat-list-item {
    border-bottom: 1px solid #e6e6e6;
}
mat-list-item img {
    width: 95px !important;
    height: auto !important;
    border-radius: 0 !important;
}
mat-chip-list {
    display: inline-block;
}